/* styles.css */

.option {
  background-color: #fff; /* 设置选项背景色 */
  border: 1px solid #ccc; /* 添加边框 */
  border-radius: 5px; /* 添加圆角边框 */
  margin: 10px 0; /* 上下边界10像素 */
}

.model-container {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container1 {
  height: 44vh;
  text-align: center;
  position: relative;
  margin-bottom: 2vh;
}
.image-container2 {
  height: 44vh;
  text-align: center;
  position: relative;
}

.image-container img {
  width: auto;
  height: auto;
  max-width: 90%; /* 图片最大宽度为容器宽度 */
  max-height: 90%; /* 图片最大高度为容器高度 */
  object-fit: contain;
  vertical-align: middle; /* 垂直居中 */
}

.iframe {
  width: 90%;
  height: 90%;
  position: absolute;
  border: none;
}

.loading-container .textSecondary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
}

@media (max-width: 600px) {
  .option-container {
    padding: 8px;
  }
}

.tipText {
  margin: 5px !important;
}

.button {
  margin-bottom: 10px !important;
}